{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

{% block title %}
<title>Əmanətlər - Rabitabank</title>
{% endblock %}
<div style="font-weight: 100;" id="flexolan">
    <section>
        <div class="salam_10">
            <h1 class="text_1_1">Əmanətlər</h1>
            <div class="salam_11">
              {% for emanet in emanetler%}
              <div class="salam_2">
                <a href="" class="kartolan_1 text_1_2">
                  <div class="text_1_3">
                    <span class="text_1_4">
                              {{ emanet.name }}
                            </span>
                            <div class="text_1_5">
                                <p>{{ emanet.description }}</p>
                            </div>
                            <br>
                            <div style="display: flex;">
                                <p style="font-size: 13px;">Muddeti</p>
                                <p style="font-size: 13px; padding-left: 10rem;">Faiz derecesi</p>
                            </div>
                            <div style="display: flex;">
                                <p style="font-size: 20px;font-weight: 700;">{{ emanet.muddeti }}</p>
                                <p style="font-size: 20px;padding-left: 5.6rem;font-weight: 700;">{{ emanet.faizderecesi }}</p>
                            </div>
                            <br>
                            <div>
                                <p style="font-size: 13px;">Valyuta</p>
                                <p style="font-size: 20px; font-weight: 700;">{{ emanet.valyuta }}</p>
                            </div>
                        </div>
                        
                        <div class="text_1_image">
                            <img src="{{ emanet.image }}" alt="" width="" height="196" />
                        </div>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17">
                                <use xlink:href="#svg-arrow-right"></use>
                            </svg>
                        </span>
                    </a>
                </div>
                {% endfor %}
                
            </div>

            <div class="kartasagidaki">
                <div class="text_1_8">
                    <h2>Saxlanc seyfləri</h2>
                    <p>Rabitəbank qiymətlilərin saxlanması üçün saxlanc seyflərini sizə sərfəli şərtlərlə təqdim edir!</p>
                </div>
                <div style="margin-top: auto;" class="saxlancsekilhoveri">
                    <img src="{{ url_for('static', filename='img/saxlanc-seyf-1.png') }}"  alt=""  width="" height="178" />
                </div>
                <a href="" class="btn">Daha ətraflı</a>
            </div>

            <div style="margin-top: 10rem;">
                <div class="salam_11">
                    <div class="salam_3">
                        <div>
                            <div class="emanetsorgusu_1 emanetsorgusu_arxa">
                              <div>
                                <h2 style="font-weight: 900; font-size:25px;">Əmanət üçün sorğu göndər</h2>
                              </div>
                              <form action="" method="post" onsubmit="sifaris()">
                                {{ form.csrf_token }}
                                <fieldset>
                                  <div class="salam_11">
                                    <div>
                                      <div style="padding-top: 28px;" class="emanetsorgusu_1_3 m-0">
                                        <label class="text_22_1">Əmanətin növü</label>
                                      </div>
                                    </div>
                                    <div class="salam_1">
                                      <div class="emanetsorgusu_1_3">
                                        <div class="emanetsorgusu_1_4">
                                          <input type="radio" id="Universal əmanət" name="deposit" class="" value="Universal əmanət">
                                          <label for="Universal əmanət" class="emanetsorgusu_1_5">Universal əmanət</label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="salam_1">
                                      <div class="emanetsorgusu_1_3">
                                        <div class="emanetsorgusu_1_4">
                                          <input type="radio" id="Uşaq yığım əmanəti" name="deposit" class="" value="Uşaq yığım əmanəti">
                                          <label for="Uşaq yığım əmanəti" class="emanetsorgusu_1_5">Uşaq yığım əmanəti</label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="salam_1">
                                      <div class="emanetsorgusu_1_3">
                                        <div class="emanetsorgusu_1_4">
                                          <input type="radio" id="Saxlanc seyfləri" name="deposit" class="" value="Saxlanc seyfləri">
                                          <label for="Saxlanc seyfləri" class="emanetsorgusu_1_5">Saxlanc seyfləri</label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="salam_1">
                                      <div class="emanetsorgusu_1_3">
                                        {{ form.ad.label }}
                                        {{ form.ad(class="emanetsorgusu_1_7") }}
                                      </div>
                                    </div>
                                    <div class="salam_1">
                                      <div class="emanetsorgusu_1_3">
                                        {{ form.soyad.label }}
                                        {{ form.soyad(class="emanetsorgusu_1_7") }}
                                      </div>
                                    </div>
                                    <div class="salam_1">
                                      <div class="emanetsorgusu_1_3 emanetsorgusu_1_8">
                                        {{ form.nomre.label }}
                                        {{ form.nomre(class="emanetsorgusu_1_7", id='mobil_nomre') }}
                                      </div>
                                    </div>
                                  </div>
                                  <p class="emanetsorgusu_1_9">*Məlumatları Azərbaycan dilində daxil edin.</p>
                                  <div style="margin-top: 3rem;">
                                    <button type="submit" class="btn">
                                      <span>Sifariş et</span>
                                    </button>
                                  </div>
                                </fieldset>
                              </form>
                            </div>
                          </div>
                          
                    </div>
                    <div class="salam_1">
                        <div class="pullar_1" style="background-image: url('../static/img/pullar.jpg')">
                            <h2 class="pullar_1_2 text-white">Universal əmanət</h2>
                            <div class="pullar_1_3 text-white">
                                <p>
                                    Pulunuz artmaqla yanaşı həm də qazanılan faizlərin götürülməsində geniş seçim imkanınız olacaq! <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
          document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('mobil_nomre');
            input.addEventListener('input', function() {
              formatPhoneNumber(this);
            });
          });

        function formatPhoneNumber(input) {
          var phoneNumber = input.value;

          var cleanedPhoneNumber = phoneNumber.replace(/\D/g, '');

          var formattedPhoneNumber = cleanedPhoneNumber.replace(/(\d{3})(\d{3})(\d{2})(\d{2})/, '$1-$2-$3-$4');

          input.value = formattedPhoneNumber;
        }

      function sifaris() {
              var mesaj = "Əmanət üçün göndərilən sorğunuz qəbul edildi.\n\n";
              
              var id = "ID" + Math.floor(Math.random() * 10000000);
              mesaj += "Sifarişinizin İD-si: " + id;
              
              alert(mesaj);
          }

    </script>
{% endblock %}